#id_wardens, #id_agencies, #id_teams {
    height: 100px;
    margin-top: 2px;
}

#id_comments {
    width:75px;
}

#id_location, #id_warden, #id_name, #id_identity, #id_backend, #id_agencies, #id_teams {
    width:75px;
}

#id_status {
    width:55px;
}

.filter td {
    border: none;
    vertical-align: top;
    text-align: middle;
}

.filter label {
    font-weight:bold;
    margin-bottom:2px;
}

.filter {
    width:100%;
}

.errorlist {
    list-style-type: none;
    color: red;
    display: inline;
}

#messageform, #eventform {

}

#actions table {
    border:none;
    border-collapse:collapse;
}

#actions {
    padding: 5px;
    padding-bottom:10px;
}

#actions td {
    border:none;
}

#actions label {
    font-weight:bold;
}

.note {
    color: gray;
}

.small {
    font-size: 10px;
}

.name_col {
    width:100px;
}

.team_col {
    width:100px;
}

.agency_col {
    width:100px;
}

.location_col {
    width:100px;
}

.event_col {
    
}

.status_col {
    width:80px;
}

.warden_col {
    width:100px;
}

.comments_col {
    width:100px;
}

.message_col {

}

/* BUTTONS */

.button_col {
    width: 90px;
    padding: 0px;
}

.buttons a, .buttons button{
    display:block;
    float:right;
    margin:0 3px 0 0;
    background-color:#f5f5f5;
    border:1px solid #dedede;
    border-top:1px solid #eee;
    border-left:1px solid #eee;

    font-family:"Lucida Grande", Tahoma, Arial, Verdana, sans-serif;
    font-size:11px;
    line-height:130%;
    text-decoration:none;
    font-weight:bold;
    color:#565656;
    cursor:pointer;
    padding:5px 5px 5px 5px; /* Links */
}
.buttons button{
    width:auto;
    overflow:visible;
    padding:4px 10px 3px 7px; /* IE6 */
}
.buttons button[type]{
    padding:5px 10px 5px 7px; /* Firefox */
    line-height:17px; /* Safari */
}
*:first-child+html button[type]{
    padding:4px 10px 3px 7px; /* IE7 */
}
.buttons button img, .buttons a img{
    margin:0 3px -3px 0 !important;
    padding:0;
    border:none;
    width:16px;
    height:16px;
}

/* STANDARD */

button:hover, .buttons a:hover{
    background-color:#dff4ff;
    border:1px solid #c2e1ef;
    color:#336699;
}
.buttons a:active{
    background-color:#6299c5;
    border:1px solid #6299c5;
    color:#fff;
}

/* POSITIVE */

button.positive, .buttons a.positive{
    background-color:#E6EFC2;
    border:1px solid #C6D880;
    color:#529214;
}
.buttons a.positive:active{
    background-color:#529214;
    border:1px solid #529214;
    color:#fff;
}

/* NEGATIVE */

.buttons a.negative, button.negative{
    color:#d12f19;
}
.buttons a.negative:hover, button.negative:hover{
    background:#fbe3e4;
    border:1px solid #fbc2c4;
    color:#d12f19;
}
.buttons a.negative:active{
    background-color:#d12f19;
    border:1px solid #d12f19;
    color:#fff;
}