{{ form.identity }}{{ form.backend }}
<div class="buttons">
    <a href="javascript:void(0)" onclick="$('#connections_{{ contact.pk }}_edit').empty()">
        <img src="{{ MEDIA_URL }}rapidsms/icons/silk/decline.png" />
    </a>
    {% if connection.pk %}
        <a href="javascript:void(0)" onclick="submitForm(this, '../connections/{{ connection.pk }}/edit/', $('#connections_{{ contact.pk }}'))">
            <img src="{{ MEDIA_URL }}rapidsms/icons/silk/accept.png" />
        </a>
    {% else %}
        <a href="javascript:void(0)" onclick="submitForm(this, '../connections/{{ contact.pk }}/add/', $('#connections_{{ contact.pk }}'))">
            <img src="{{ MEDIA_URL }}rapidsms/icons/silk/accept.png" />
        </a>
    {% endif %}            
</div>