{% load status %}
{% load warden %}
{% load comments %}
{% load lastmessage %}
{% load lastpoll %}
<td class="name_col">
    <input {% if selected %}checked="true"{% endif %} type="checkbox" onclick="$('#id_select_all').attr('checked', false)" name="contacts" value="{{ contact.pk }}"/>
    {{ contact.name }}
    <br clear="left"/>
    <div id="connections_{{ contact.pk }}">
        {% include "status160/connection_view.html" %}
    </div>
</td>
<td class="team_col">
{% for group in contact.groups.all %}
    {% if group.team %}
      {{ group.name }}
    {% endif %}
{% endfor %}
</td>
<td class="agency_col">
{% for group in contact.groups.all %}
    {% if group.agency %}
      {{ group.name }}
    {% endif %}
{% endfor %}    
</td>
<td class="location_col">
{{ contact.reporting_location.name }}
</td>
<td class="event_col">
{{ contact|lastpoll:"name" }}
</td>
<td style="background-color:#{{ contact|status:"color" }}" class="status_col">
    {{ contact|status:"name" }}
</td>
<td class="warden_col">
{{ contact|warden }}
</td>
<td class="comments_col">
    {% for comment in contact|comments %}
        {{ comment.text }}
    {% endfor %}
</td>
<td class="message_col">
{{ contact|lastmessage }}
</td>
<td class="button_col">
    <div class="buttons">
        {% if perms.auth.delete_user %}
            <a href="javascript:void(0)" onclick="deleteContact('{{ contact.pk }}','{{ contact.name }}')">
                <img src="{{ MEDIA_URL }}rapidsms/icons/silk/delete.png" />
            </a>
        {% endif %}
        {% if perms.auth.change_user %}
            <a href="javascript:void(0)" onclick="editContact('{{ contact.pk }}')">
                <img src="{{ MEDIA_URL }}poll/icons/silk/pencil.png" />
            </a>
        {% endif %}
    </div>
</td>
