{% extends "layout.html" %}
{% block header %}
<form method="POST">
{% csrf_token %}
{{ block.super }}
{% endblock %}

{% block title %}Status160 - {{ block.super }}{% endblock %}
{% block stylesheets %}
<link type="text/css" rel="stylesheet" href="{{ MEDIA_URL }}status160/stylesheets/status160.css" />
{{ block.super }}
{% endblock %}

{% block content %}
<div class="module">
<h2>Filters</h2>
<table class="filter">
    <tr>
        <td>
            <label for="id_wardens">Show charges for:</label>
            <br clear="left"/>
            {{ form.wardens }}
        </td>
        <td>
            <label for="id_teams">Show teams:</label>
            <br clear="left"/>
            {{ form.teams }}
        </td>
        <td>
            <label for="id_agencies">Show agencies:</label>
            <br clear="left"/>
            {{ form.agencies }}
        </td>
        <td>
            <label for="id_locations">Show locations:</label>
            <br clear="left"/>
            {{ form.locations }}
        </td>
        <td>
            <label for="id_search_string">Free-form search:</label>
            <span class="small note">Use 'or' to search for multiple names</span>
            <br clear="left"/>
            {{ form.search_string }}
        </td>
        <td>
            <input type="submit" value="filter"/>
        </td>
    </tr>
</table>
</div>

<script language="javascript">
    function submitForm(link, action, resultDiv) {
        form = $(link).parents("form");
        form_data = form.serializeArray();
        resultDiv.load(action, form_data);
    }

    function deleteContact(pk,name) {
        if (confirm('Are you sure you want to remove ' + name + '?')) {
            $.post('../contacts/' + pk + '/delete/', function(data) {
                $('#row_' + pk).remove()
            });
        }
    }

    function editContact(pk) {
        $('#row_' + pk).load('../contacts/' + pk + '/edit/');
    }
</script>

{% if perms.status160.add_alert or perms.poll.add_poll or perms.rapidsms_httprouter.add_message %}
    <div class="module">
        <h2>Actions</h2>
        <table>
            <tr>
                <td style="border:none">
                    <div class="buttons">
                        {% if perms.status160.add_alert %}
                            <a href="javascript:void(0)"onclick="submitForm(this, '../alerts/send/', $('#alertresponse'));$('#eventform').hide();$('#messageform').hide()">
                                Send Alerts to Wardens
                                <img src="{{ MEDIA_URL }}rapidsms/icons/silk/phone.png" />
                            </a>
                        {% endif %}
                        {% if perms.poll.add_poll %}
                            <a href="javascript:void(0)" onclick="$('#eventform').show();$('#messageform').hide()">
                                Create Status Survey
                                <img src="{{ MEDIA_URL }}rapidsms/icons/silk/help.png" />
                            </a>
                        {% endif %}
                        {% if perms.rapidsms_httprouter.add_message %}
                            <a href="javascript:void(0)" onclick="$('#messageform').show();$('#eventform').hide()">
                                Send Mass Text Message
                                <img src="{{ MEDIA_URL }}rapidsms/icons/silk/email_go.png" />
                            </a>
                        {% endif %}
                    </div>
                </td>
            </tr>
        </table>
        <table id="actions">
            <tr>
                <td>
                    <div id="messageform" style="display:none">
                        {% include "status160/masstext.html" %}
                    </div>
                    <div id="eventform" style="display:none">
                        {% include "status160/event.html" %}
                    </div>
                    <div id="alertresponse">
                    </div>
                </td>
            </tr>
        </table>
    </div>
{% endif %}

<div class="module">
<h2>Staff</h2>
<table style="width:100%">
    <thead>
        <tr>
            <th></th>
            <th>Team</th>
            <th>Agency</th>
            <th>Location</th>
            <th>Event</th>
            <th>Status</th>
            <th>Warden</th>
            <th>Comments</th>
            <th>Last Message</th>
            <th class="button_col"></th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td colspan="11">
                <input type="checkbox" id="id_select_all" {% if selected %}checked="true"{% endif %}/>Select all
                <script language="javascript">
                    $('#id_select_all').click(
                        function() {
                            $('input:checkbox[name=contacts]').attr('checked', $('#id_select_all').attr('checked'));
                        }
                    );
                </script>
            </td>
        </tr>
        {% for contact in contacts %}
            <tr id="row_{{ contact.pk }}">
                {% include "status160/contact_row_view.html" %}
            </tr>
        {% endfor %}
    </tbody>
</table>
</div>
{% endblock %}


{% block footer %}
{{ block.super }}
</form>
{% endblock %}
