<table>
    <tr>
        <td>
            <label for="id_short_description">Short description:</label>
        </td>
        <td>
            <label for="id_text_question">Text question for tracking this event:</label>
            <br clear="left"/>
            <span class="small note">(note: an affirmative response to this question should always indicate a positive status, i.e. safe, all-clear etc.)</span>
        </td>
    </tr>
    <tr>
        <td>
            {{ createeventform.short_description }}
        </td>
        <td>
            {{ createeventform.text_question }}
        </td>
        <td>
            <input type="button" value="create" onclick="submitForm(this, '../event/new/', $('#eventform'))"/>
        </td>
        <td>
            <a href="javascript:void(0)" onclick="$('#eventform').hide()">cancel</a>
        </td>
    </tr>
    <tr>
        <td>
            {{ createeventform.short_description.errors }}
        </td>    
        <td>
            {{ createeventform.text_question.errors }}
        </td>
        <td colspan="2"></td>
    </tr>
</table>