{{ form.identity }}
<div class="buttons">
    <a href="javascript:void(0)" onclick="$('#connections_{{ contact.pk }}_edit').empty()">
        <img src="{{ MEDIA_URL }}rapidsms/icons/silk/decline.png" />
    </a>
    {% if connection.pk %}
        <a href="javascript:void(0)" onclick="submitForm(this, '{% url status160.views.edit_connection connection.pk %}', $('#connections_{{ contact.pk }}'))">
            <img src="{{ MEDIA_URL }}rapidsms/icons/silk/accept.png" />
        </a>
    {% else %}
        <a href="javascript:void(0)" onclick="submitForm(this, '{% url status160.views.add_connection contact.pk %}', $('#connections_{{ contact.pk }}'))">
            <img src="{{ MEDIA_URL }}rapidsms/icons/silk/accept.png" />
        </a>
    {% endif %}            
</div>