{% load status %}
{% load warden %}
{% load comments %}
{% load lastmessage %}
{% load lastpoll %}
<td>&nbsp;</td>
<td class="name_col">
    {{ form.name }}
    {% if form.name.errors %}
        <br clear="left"/>
        {{ form.name.errors }}
    {% endif %}
</td>
<td class="team_col">
    {{ form.teams }}
    {% if form.teams.errors %}
        <br clear="left"/>
        {{ form.teams.errors }}
    {% endif %}    
</td>
<td class="agency_col">
    {{ form.agencies }}
    {% if form.agencies.errors %}
        <br clear="left"/>
        {{ form.agencies.errors }}
    {% endif %}
</td>
<td class="location_col">
    {{ form.location }}
    {% if form.location.errors %}
        <br clear="left"/>
        {{ form.location.errors }}
    {% endif %}    
</td>
<td class="event_col">
</td>
<td style="background-color:#{{ contact|status:"color" }}" class="status_col">
    {{ form.status }}
    {% if form.status.errors %}
        <br clear="left"/>
        {{ form.status.errors }}
    {% endif %}    
</td>
<td class="warden_col">
    {{ form.warden }}
    {% if form.warden.errors %}
        <br clear="left"/>
        {{ form.warden.errors }}
    {% endif %}    
</td>
<td class="comments_col">
    {{ form.comments }}
    {% if form.comments.errors %}
        <br clear="left"/>
        {{ form.comments.errors }}
    {% endif %}    
</td>
<td class="message_col">
</td>
<td class="button_col">
    <div class="buttons">
        <a href="javascript:void(0)" onclick="$(this).parents('tr').load('{% url status160-contact contact.pk %}')">
            <img src="{{ MEDIA_URL }}rapidsms/icons/silk/decline.png" />
        </a>
        <a href="javascript:void(0)" onclick="submitForm(this, '{% url status160.views.edit_contact contact.pk %}', $(this).parents('tr'))">
            <img src="{{ MEDIA_URL }}rapidsms/icons/silk/accept.png" />
        </a>        
    </div>
</td>
