<td>&nbsp;</td>
<td colspan="10">
    <!-- <a id="anchor_add_contact" style="display:none" href="javascript:void(0)" onclick="newContact(this)">Add new</a> -->
    <div id="div_add_contact">
        <table class="add-contact">
            <tr>
                <td>Name: {{ form.name.errors }}</td>
                <td>{{ form.name }}</td>
                <td colspan="2">Duty station:</td>
                <td colspan="2">{{ form.location }}</td>
            </tr>
            <tr>
                <td>Primary contact #: {{ form.identity.errors }}</td>
                <td>{{ form.identity }}</td>
                <td rowspan="3">Teams:</td>
                <td rowspan="3">{{ form.teams }}</td>
                <td rowspan="3">Agency:</td>
                <td rowspan="3">{{ form.agencies }}</td>
            </tr>
            <tr>
                <td>Is a Warden?</td>
                <td>{{ form.is_warden }}</td>
            </tr>
            <tr>
                <td>Warden:</td>
                <td>{{ form.warden }}</td>
            </tr>
            <tr>
                <td colspan="6">
                    <a href="javascript:void(0)" onclick="submitForm(this, '../contacts/add/', $(this).parents('tr'));$('#add_contact_anchor_row').show();">Add</a> | 
                    <a href="javascript:void(0)" onclick="$(this).parents('tr').remove();$('#add_contact_anchor_row').show();">Cancel</a>
                </td>
            </tr>
        </table>
    </div>
</td>
